* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------------------------------------------------------------------------------------------*/

body {
  min-height: 100%;
  line-height: 1;
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
}

/* 
 .container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}  */
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ece3da;
  box-shadow: 0px 0px 50px black;
}

/*--------------------------------Шапка-----------------------------------------------*/

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.header__nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav__link {
  display: inline-block;
  line-height: 3;
  color: black;
  font-size: 30px;
  transition: all 0.3s;
  width: 275px;
}

.header__nav__link:hover {
  transform: scale(1.15);
  font-weight: 500;
}

@media(max-width:1600px) {
  .header__nav__link {
    width: 220px;
  }
}

@media(max-width:930px) {
  .header__nav__link {
    width: 180px;
  }
}

@media(max-width:750px) {
  .header__nav__link {
    font-size: 25px;
    width: 150px;
  }

  .header__nav {
    margin-bottom: 30px;
  }
}

@media(max-width:630px) {
  .header__nav-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__nav {
    justify-content: center;
    margin-bottom: 100px;
  }

  .wrapper {
    min-width: 100%;
  }
}

/*-----------------------------Верстка левой колонки------------------------------------------------*/

.main__flex {
  display: flex;
  justify-content: space-between;
}

.left-column {
  padding-left: 50px;
  max-width: 500px;
  margin-right: 170px;
}

.left-column__img {
  margin-bottom: 50px;
  text-align: center;
}

.left-column__img__item {
  border-radius: 50%;
}

.contacts__title {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 20px;
  background-color: #d0c1a9;
  border-radius: 50px;
}

.info__inner {
  margin-left: 70px;
}

.github__item {
  margin: 30px 40px;
}

.github__link {
  display: inline-block;
  color: black;
  font-size: 30px;
  position: relative;
}

.github__link:before {
  content: "";
  background-image: url(../assets/svg/icon\ github.svg);
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  left: -45px;
}

.gmail__item {
  margin: 30px 40px;
}

.gmail__link {
  display: inline-block;
  color: black;
  position: relative;
  font-size: 30px;
}

.gmail__link:before {
  content: "";
  background-image: url(../assets/svg/icon\ gmail.svg);
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  left: -45px;
}

.tel__item {
  margin: 30px 40px;
}

.tel__link {
  font-size: 30px;
  position: relative;
}

.tel__link:before {
  content: "";
  background-image: url(../assets/svg/icon\ tel.svg);
  position: absolute;
  width: 40px;
  height: 40px;
  top: -7px;
  left: -45px;
}

.location__item {
  margin: 30px 40px;
}

.location__link {
  font-size: 30px;
  position: relative;
}

.location__link:before {
  content: "";
  background-image: url(../assets/svg/icon\ location.svg);
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  left: -45px;
}

.skills__title {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 20px;
  background-color: #d0c1a9;
  border-radius: 50px;
}

.skills__item {
  margin: 30px 85px;
  list-style-type: disc;
}

.skills__link {
  font-size: 30px;
}

.languages__title {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 20px;
  background-color: #d0c1a9;
  border-radius: 50px;
}

.languages__item {
  margin: 30px 85px;
  list-style-type: disc;
}

.languages__link {
  font-size: 30px;
}

@media(max-width:1400px) {
  .left-column {
    margin-right: 50px;
    padding-left: 0;
  }
}

@media(max-width:1150px) {
  .main__flex {
    flex-direction: column;
    align-items: center;
  }

  .left-column {
    margin-right: 0px;
    padding-left: 0px;
  }
}

@media(max-width:520px) {
  .left-column__img__item {
    width: 200px;
  }

  .info__inner {
    max-width: 300px;
    margin: 0 auto;
  }

  .contacts__title {
    max-width: 250px;
    margin: 0 auto;
  }

  .gmail__link,
  .github__link,
  .tel__link,
  .location__link {
    font-size: 18px;
  }

  .skills__title {
    max-width: 250px;
    margin: 0 auto;
  }

  .skills__inner {
    max-width: 300px;
    margin: 0 auto;
  }

  .skills__item {
    margin: 30px 20px;
  }

  .skills__link {
    font-size: 18px;
  }

  .languages__title {
    max-width: 250px;
    margin: 0 auto;
  }

  .languages__inner {
    max-width: 350px;
    margin: 0 auto;
  }

  .languages__item {
    margin: 30px 20px;
  }

  .languages__link {
    font-size: 18px;
  }
}

/*---------------------------Верстка правой колонки-------------------------------------------*/
.right-clmn {
  max-width: 900px;
}

.right-clmn__title {
  max-width: 600px;
  margin: 0 auto;
  padding: 120px 0px;
}

.name {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  line-height: 2;
}

.line {
  width: 300px;
  height: 6px;
  background-color: #000000;
  margin: 0 auto;
}

.developer {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  line-height: 2;
}

.right-clmn__subtitle {
  max-width: 805px;
  text-align: center;
  margin: 0 auto;
}

.right-clmn__subtitle-item {
  line-height: 1.5;
  font-size: 30px;
}

.edication {
  padding-top: 100px;
}

.education__title {
  font-weight: 500;
  font-size: 30px;
  border-bottom: 4px solid black;
  margin-bottom: 20px;
  position: relative;
}

.education__title:before {
  background-image: url(../assets/svg/icon\ education.svg);
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: -40px;
}

.education__info {
  line-height: 1.75;
  font-size: 27px;
}

.courses {
  padding-top: 100px;
}

.courses__title {
  font-weight: 500;
  font-size: 30px;
  border-bottom: 4px solid black;
  margin-bottom: 20px;
  position: relative;
}

.courses__title::before {
  background-image: url(../assets/svg/icon\ courses.svg);
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: -40px;
}

.courses__inner {
  list-style: disc;
}

.courses__item {
  line-height: 1.75;
  font-size: 27px;
}

.projects {
  padding: 100px 0;
}

.projects__title {
  font-weight: 500;
  font-size: 30px;
  border-bottom: 4px solid black;
  margin-bottom: 20px;
  position: relative;
}

.projects__title:before {
  position: absolute;
  content: "";
  background-image: url(../assets/svg/icon\ code.svg);
  width: 30px;
  height: 30px;
  top: 0;
  left: -40px;
}

.projects__img {
  display: inline-block;
  padding-bottom: 30px;
}

.projects__img__item {
  width: 400px;
  height: 170px;
  background-size: cover;
}

#picture3 {
  display: flex;
  justify-content: center;
}

@media(max-width:1550px) {
  .projects__img {
    display: block;
    padding-bottom: 30px;
  }

  .projects__img__item {
    width: 80%;
    height: 40%;
  }

  #picture3 {
    display: flex;
    justify-content: flex-start;
  }
}

@media(max-width:1150px) {
  .education__title {
    padding-left: 50px;
  }

  .education__title:before {
    left: 0px;
  }

  .courses__title {
    padding-left: 50px;
  }

  .courses__inner {
    margin-left: 30px;
  }

  .courses__title::before {
    left: 0px;
  }

  .projects__title {
    padding-left: 50px;
  }

  .projects__title:before {
    left: 0px;
  }

  .projects__img {
    text-align: center;
  }

  #picture3 {
    display: block;

  }
}

@media(max-width:520px) {
  .name {
    font-size: 32px;
  }

  .developer {
    font-size: 30px;
  }

  .right-clmn__title {
    padding: 130px 0 30px 0;
  }

  .right-clmn__subtitle-item {
    font-size: 20px;
  }

  .education__title {
    font-size: 22px;
  }

  .education__title:before {
    left: 10px;
    top: -10px;
  }

  .education__info {
    font-size: 20px;
    text-align: start;
  }

  .courses__title {
    font-size: 22px;
  }

  .courses__title::before {
    top: -10px;
    left: 10px;
  }

  .courses__item {
    font-size: 20px;
  }

  .projects__title {
    font-size: 22px;
  }

  .projects__title:before {
    top: -10px;
    left: 10px;
  }
}

/*---------------------------Footer--------------------------------------------------------*/
.footer {
  height: 100px;
  background-color: rgba(19, 17, 17, 0.7);
}

.footer__flex {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__github__link {
  display: inline-block;
  color: #000000;
  position: relative;
  font-size: 30px;
  font-weight: 500;
}

.footer__github__link:before {
  position: absolute;
  content: "";
  background-image: url(../assets/svg/github.svg);
  width: 30px;
  height: 30px;
  top: -3px;
  left: -45px;
}

.footer__year__item {
  font-size: 35px;
  font-weight: 500;
}

@media(max-width:800px) {
  .footer__github__link {
    font-size: 20px;
  }

  .footer__year__item {
    font-size: 20px;
  }

  .footer__logo__link {
    width: 100px;
  }
}

@media(max-width:560px) {
  .footer__github__link {
    margin-left: 40px;
  }

  .footer__github__link:before {
    left: -35px
  }

  .footer__github {
    flex-grow: 1.5;
  }

  .footer__year {
    flex-grow: 1;
  }

  .footer__logo {
    flex-grow: 1
  }
}

@media(max-width:400px) {
  .footer__github__link {
    font-size: 18px;
  }

  .footer__year__item {
    font-size: 18px;
  }

  .footer__logo__link {
    width: 70px;
  }
}